src/flows/Testing_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>209</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>CounterVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Initialise</name>
        <label>Counter Initialise</label>
        <locationX>209</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>CounterVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter_Reached</name>
        <label>Check Counter Reached</label>
        <locationX>854</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Reached</defaultConnectorLabel>
        <rules>
            <name>Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Generate_x_number_of_additional_household_members</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Reached</label>
        </rules>
    </decisions>
    <interviewLabel>Testing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Testing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>624</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Check_Counter_Reached</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>415</locationX>
        <locationY>291</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>{!Contact_First_Name} {!CounterVariable}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>Collect_Info</name>
        <label>Collect Info</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Counter_Initialise</targetReference>
        </connector>
        <fields>
            <name>Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Generate_x_number_of_additional_household_members</name>
            <dataType>Number</dataType>
            <fieldText>Generate x number of additional household members</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>865</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_msg</name>
            <fieldText>Records created Successfully !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Collect_Info</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
